.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__inner {
    width: 90%;
    display: flex;
    justify-content: center;
}

.wrapper__header {
    width: 1360px;
    height: 50px;
    justify-content: flex-start;
    display: flex;
}

.header__logo {
    width: 109px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    display: block;
}

.header__logo_color {
    color: #31a9fe;
}

.header__menu_item {
    display: flex;
    height: 24px;
    width: 1250px;
    gap: 100px;
    justify-content: flex-end;
}

.menu__item {
    width: 79px;
    height: 24px;
    display: flex;
}

.item__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}
