.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header__inner {
    width: 90%;
    justify-content: flex-start;
    display: flex;
}

.header__logo {
    font-family: MBold;
    font-size: 20px;
    letter-spacing: 2px;
}

.header__logo_color {
    color: #31a9fe;
}
