
.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header__inner {
    width: 90%;
    justify-content: flex-start;
    display: flex;
}

.header__logo {
    font-family: MBold;
    font-size: 20px;
    letter-spacing: 2px;
}

.header__logo_color {
    color: #31a9fe;
}

.active{
  border-bottom: #31a9fe solid 4px;
  border-radius:1px;
  color:black;
}

#text{
    text-decoration:none;
    color:black;
    margin-top:20px;
    
}