.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__inner {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper__header {
    width: 1360px;
    height: 50px;
    justify-content: flex-start;
    display: flex;
}

.header__logo {
    width: 109px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    display: block;
}

.header__logo_color {
    color: #31a9fe;
}

.header__menu_item {
    display: flex;
    height: 24px;
    width: 1250px;
    gap: 100px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.menu__item {
    width: 79px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
}

.item__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
}

/* menu */

.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 100px;
    flex-wrap: wrap;
    gap: 20px;
}

.content__post {
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    border: 2px solid #31a9fe;
    box-sizing: border-box;
    justify-content: flex-end;
    display: flex;
}

/*.content__post::after {
    content: "";
    display: block;
    width: 89px;
    display: flex;
    border: 1px solid #31a9fe;
    transform: rotate(90deg);
}
*/
.post__text {
    display: flex;

    color: #626262;
    font-size:40px;
    border:none;
    
}

.post__text:focus{
    outline:0;
}

.post__img {
    padding-left:7px;
    padding-right:7px;
    border-left:2px solid #31a9fe;
    width: 70px;
    height: 80px;
    display: flex;
    gap: 15px;
}

.content__line {
    width: 1690px;
    height: 0px;
    border: 1px solid #31a9fe;
    transform: rotate(-0.14deg);
    margin-top: 40px;
}
