@font-face {
    font-family: MReg;
    src: url(../fonts/montserrat-v14-latin_cyrillic-regular.woff2);
}

@font-face {
    font-family: MBold;
    src: url(../fonts/montserrat-v14-latin_cyrillic-800.woff2);
}

@font-face {
    font-family: MLight;
    src: url(../fonts/montserrat-v14-latin_cyrillic-300.woff2);
}
