.post {
    width: 100%;
}

.post__first {
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 260px;
    top: 203px;

    background: #ffffff;
    border: 1px solid #31a9fe;
    box-sizing: border-box;
}

.post__text {
    position: absolute;
    width: 246px;
    height: 30px;
    left: 60px;
    top: 7px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.07em;

    color: #626262;
}

.post__poloska {
    position: absolute;
    width: 85px;
    height: 0px;
    left: 850px;
    top: 50px;
    border: 1px solid #31a9fe;
    transform: rotate(90deg);
}

.post__image {
    position: absolute;
    width: 80px;
    height: 50px;
    right: 10px;
    top: 9px;
}

.post__footer {
    border: 1px solid #31a9fe;
    margin-top: 25em;
}
